

.hero {
  
  min-height: 90vh;
  background: url('https://images.pexels.com/photos/4491881/pexels-photo-4491881.jpeg') center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 28px;
  border-radius: 32px;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
  width: 100%;
  align-items: center;
  min-height: 90vh;
  display: flex;
  justify-content: space-between;
  padding: 60px 80px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.hero-left {
  color: #fff;
  max-width: 50%;
}

.hero-left h1 {
  display: flex;
  justify-content: center;
  align-items: center;  
  font-size: 2.8rem;
  font-weight: 700;
  
}

.hero-left p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 32px;
  line-height: 1.6;
}

.hero-buttons .btn {
  padding: 12px 24px;
  margin-right: 12px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.primary {
  background-color: #2a4b9c;
  color: #fff;
  text-decoration: none;
}

.secondary {
  background-color: #e0f0ff;
  color: #2a4b9c;
  text-decoration: none;
}



.contact-card h2 {
  color: #2a4b9c;
  font-weight: 700;
  margin-bottom: 4px;
}

.contact-card p {
  color: #555;
  font-size: 0.95rem;
  margin-bottom: 20px;
}

.hero-right {
    max-width: 400px;
    width: 100%;
    height: fit-content;
    background-color: white;
    border-radius: 16px;
    padding: 32px 24px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  form input,
  form select,
  form textarea {
    width: 100%;
    padding: 12px 14px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 0.95rem;
    outline: none;
    box-sizing: border-box;
  }

form select {
  color: #555;
}

.submit-btn {
  background-color: #ff8c40;
  color: white;
  padding: 12px 18px;
  border: none;
  width: 100%;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-icon {
  margin-right: 8px;
  font-size: 1.1rem;
}
