.dashboard-wrapper{
    margin-left: 280px;
    padding: 20px;
    
}
  
  .top-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .card {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    flex: 1;
    min-width: 280px;
    position: relative;
    height: fit-content;
    transition: all 0.3s ease-in-out; 
    transform: translateY(0);
}

.card:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15); 
  transform: translateY(-4px) scale(1.02); 
}
  
  
.icon {
    font-size: 28px;
    margin-bottom: 10px;
  }
.container{

    display: flex;
    flex-direction: row;

    justify-content: space-between;
  }
.label {
    color: #666;
    font-size: 14px;
    background-color: white;
    padding: 0
    ;
  }
  
.value {
    color: "red";
    font-size: 28px;
    font-weight: bold;
  }
  
.stat {
    font-size: 12px;
    margin-top: 18px;
    font-weight: 600;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 6px;
  }
  
  .stat.up {
    color: #0f9d58;
    background: #e6f4ea;

  }
  
  .stat.down {
    color: #d93025;
    background: #fce8e6;
  }
  
  .link{
    text-decoration: none;
    color: #000000;
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    flex: 1;
    min-width: 280px;
    position: relative;
    height: fit-content;transition: all 0.3s ease-in-out; /* Smooth transition */
    transform: translateY(0);
  }
  
  .link:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15); /* Stronger shadow */
    transform: translateY(-4px) scale(1.02); /* Lift & scale slightly */
  }

  
  
  @media (max-width: 768px) {
    .dashboard-wrapper{
        margin-left: 0px;
        padding: 20px;
        
    }
}