.services-table-container {
    padding: 20px;
    margin-left: 280px;
  }
  
  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .add-btn {
    padding: 8px 12px;
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .services-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .services-table th,
  .services-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #f0f0f0;
  }
  
  .service-img {
    width: 60px;
    height: 40px;
    object-fit: cover;
    border-radius: 4px;
  }
  .action-icons {
    display: flex;
    align-items: center;
    gap: 10px; 
  }
  .icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 8px;
    transition: color 0.2s ease;
  }
  
  .edit-icon {
    color: #007bff; /* Blue for edit */
  }
  
  .edit-icon:hover {
    color: #0056b3;
  }
  
  .delete-icon {
    color: #dc3545; /* Red for delete */
    background: none;
    border: none;
  }
  
  .delete-icon:hover {
    color: #a71d2a;
    cursor: pointer;
  }
  .table-footer{
    display: none;
  }
  
  
  @media (max-width: 768px) {
    .services-table-container {
      margin-left: 0;
      padding: 10px;
      width: 100%;
    }
  
    .services-table th,
    .services-table td {
      font-size: 12px;
      padding: 8px;
    }
  
    .table-header h2 {
      font-size: 18px;
    }
    .table-footer{
      display: flex;
      justify-content: end;
      padding: 10px;
    }
    .add-btn2{
      padding: 8px 12px;
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    }
    .add-btn {
      display: none;
    }
  }
  