.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    background-color: white;
    position: relative;
  }
  .navl{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-left {
    display: flex;
    align-items: center;
  }
  .admin{
    padding-left: 4px;
  }
  
  .brand-name {
    font-weight: 700;
    color: #2a4b9c;
    font-size: 1.75rem;
    padding-left: 20px;
    text-decoration: none;

  }
  
  .navbar-links {
    width: 65%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 32px;
    padding: 0;
  }
  
  .navbarl {
    margin: 0 12px;
    font-weight: 600;
    color: #2b2d42;
    cursor: pointer;
    text-decoration: none;
  }
  
  .navbarl:hover {
    color: #2a4b9c;
  }
  .navbarr {
    display: flex;
    align-items: center;
  }
  .navbar-right {
    display: none;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 4px 8px;
    margin-right: 16px;
  }
  
  .search-box input {
    border: none;
    outline: none;
    font-size: 0.9rem;
    color: #444;
    padding: 4px;
  }
  
  .search-icon {
    color: #2a4b9c;
    font-size: 1.1rem;
    margin-left: 4px;
  }

  .btn {
    padding: 12px 24px;
    margin-right: 12px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }
  
  .primary {
    background-color: #2a4b9c;
    color: #fff;
  }


  .phone-number {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #2a4b9c;
    margin-right: 16px;
  }
  
  .phone-icon {
    margin-right: 6px;
    font-size: 1.1rem;
  }
  
  .hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .adminl{
    color: #2b2d42;
    cursor: pointer;
    text-decoration: none;
  }

  /* Responsive styles */
  @media screen and (max-width: 1021px) {
    .navbar-links {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      flex-direction: column;
      background-color: white;
      padding-top: 16px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      border-radius: 0px 0px 16px 16px;
    }
    .navl{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .navbar-links.active {
      display: flex;
      width: 100%;
      margin: 0;
    }
  
    .hamburger {
      display: block;
    }
    .navbarr{
      justify-content: center;
    }
    .navbar-right {

        display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .search-box {
      display: none; 
    }
  

    .brand-name{
      padding-left: 0;
    }
    .navl{
      align-items: start;
      gap: 3px;
    }
    .navbarl{
      margin: 0;
    }
    
    li{
      width: 100vw;
      border-bottom: 0.1px solid #d7e2ff;
      padding: 10px;
    }
    .navbarr{
      width: 100%;
      justify-content: start;
      padding: 10px;
    }
  }
  